/* Begin COVID19 Styles */

.col-md-8 {
    margin-top: 100px;
    text-align: center;
    flex: unset;
    max-width: unset;
}

.hero-wrap .slider-text h1 {
    font-size: 5em;
    font-weight: 400;
    color: red;
    text-transform: uppercase;
}

.imageofclients {
    display: block; 
    margin: 2rem auto;
    text-align: center;
}

section:not(:first-of-type) {
    margin: 3rem auto;
}

/* End COVI19 Styles */