html,body
{

}

* {
  box-sizing: border-box;
}

body {
  font-family: sans-serif;
}

.carousel {
  background: #ffffff;
  /*max-width: 300px;*/
}

.carousel-cell {
  width: 66%;
  height: 200px;
  margin-right: 10px;
  background: #3d1e1e;
  border-radius: 5px;
  /*counter-increment: gallery-cell;*/
}

.carousel-cell:before {
  display: block;
  text-align: center;
  /*content: counter(gallery-cell);*/
  line-height: 200px;
  font-size: 80px;
  color: white;
}

.carousel img {
  display: block;
  height: 200px;
  width: 100%;
}

.flickity-page-dots .dot {
  width: 12px;
  height: 12px;
  opacity: 1;
  background: transparent;
  border: 2px solid white;
}

.flickity-page-dots .dot.is-selected {
  background: white;
}

.flickity-page-dots {
  visibility: hidden;
}

