.navbar-light .navbar-brand {
  background-image: url("../../assets/img/logo30%20-%20Copy.png");
  background-repeat: no-repeat;
  width: 120px;
  background-position: center;
  background-size: contain;
  height: 110px;
  text-transform: uppercase;
}

.navbar.navbar-light.navbar-expand-md {
  text-transform: uppercase;
  font-weight: bold;
  font-size: 14px;
  height: 80px;
  background-color: rgba(0,0,0,0);
  color: rgb(255,255,255);
}

#right_image {
  min-height: 200px;
}

