#actual_first_image {
  background: linear-gradient(to right, rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.2)), url('../../assets/img/Screenshot_4.png');
}

@media (max-width: 576px) {
  .text-center.quote {
    font-size: 25px;
  }
}

.dh-header-non-rectangular-container h1, p {
  color: white;
  font-weight: bold;
}

